.create-dialog-class {
	position: absolute;
	top: -100%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: 300ms ease-in-out;
	box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.open-create-dialog-class {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.model-div {
	font-family: "Montserrat", sans-serif;
	background-color: white;
	display: flex;
	flex-direction: column;
	padding: 1.5em 1em;
}